/* body{
    background-color: red;
    background-color: rgba(141, 10,204, 0.3);

    background-image:url(https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BB1msKEv.img) ;
    background-size: 400px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-attachment: fixed;
} */


h1{
    font-size: 100px;
    color: rgb(0, 0, 0);
    text-align: center;
}