*{
    margin: 0;
    padding: 0;
    
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
}

.container
{
    width: 300px;
    background-color: rgb(140, 255, 0);
}

.field{
    background-color: rgb(244, 236, 236);
    width: 98%;
    margin: 10px auto;
    height: 40px;
    
}

.field input[type="email"]{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 0 10px;
    font-size: 18px;
    display: flex;

}


.field input[type="password"]{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 0 10px;
    font-size: 18px;
    display: flex;

}

.btn{
    width: 88%;
    height: 40px;
    background-color: blue;
    margin-left: 20px;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 20px;
    justify-content: center;
}