*{
    margin: 0;
    padding: 0;
}


body{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1200");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content:center;
}

.container{
    width: 300px;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 0%;
}

.container form{
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.field{
    width: 98%;
    
    height: 40px;
    margin: 10px auto ;

}

.field input[type="email"]{
    width: 100%;
    height: 35px;
}
.field input[type="password"]{
    width: 100%;
    height: 35px;
    
}

.btn{
    width: 100%;
    height: 35px;
    background-color: blue;
    color: rgb(255, 255, 255);
    font-size: 16.5px;
    border: none;
    outline: none;
    border-radius: 20px;

}
.field input[type="email"]:focus{
    outline: none;
    border: none;

}

.field input[type="email"]:focus{
    font-size: 17px;
}

.field input[type="password"]:focus{
    outline: none;
    border: none;
}

.field input[type="password"]:focus{
    font-size: 17px;
}
